:root{
  --nav-color: #BE3144;
  --welcome-color: #1A191B;
  --welcome-project-color:#383A3D;
  --project-grid-color:#45567D;
  --code-color:orange;
}

* {
  margin: 0;             /*зовнішні відступи*/
  padding: 0;         /*внутрішні  відступи*/
  box-sizing: border-box;   /*розрахунок ширини з урахуванням відступів*/
}
body{
  background-color: var(--welcome-project-color);
  font-family: montserrat, sans-serif;
}

/*nav-bar */
.navbar {
  width: 100%;           /* Довжина на весь екран */
  height: 70px;          
  background-color: var(--nav-color); 
  position: fixed;       /* Закріплюємо навбар */
  top: 0;                /* У верхній частині в'юпорту */
  display: flex;         /* Використовуємо flexbox */
  align-items: center;   /* Вирівнюємо елементи по центру по вертикалі */
  justify-content: flex-end; /* Елементи справа */
  box-shadow: 0px 2px 3px #141416;     /*тінь навбару*/
  z-index:1;
}

/* Стилізація списку */
.nav-list {
  list-style-type: none; /* Прибираємо маркери списку */
  padding: 0;
  margin: 0;
  display: flex;         /* Вирівнюємо елементи в рядок */
  margin-right: 50px;    /*відступ від правого краю*/
}

/* Стилізація елементів списку */
.nav-item {
  font-weight: 600;
  font-size:larger;
  color: aliceblue;      
  margin-left: 20px;     /* Відступ між елементами */
  padding: 10px;         /* Подушечка для тексту */
}

/*welcome*/

.home-page{
  width: 100%;         /*ширина на весь екран*/
  height: 830px;       /*висота на весь в'юпорт */
  background: linear-gradient(90deg, var(--welcome-project-color), var(--welcome-color));
}

.home-page {
  display:flex; 
  justify-content: center; /* вирівнює елементи по горизонталі */
  align-items: center;     /* вирівнює елементи по вертикалі */
  height: 100vh;           /* висота контейнера дорівнює висоті в'юпорта */
}

.title{
  color:aliceblue;
  text-transform: uppercase;      /*перетворення на великі літери*/
  font-size: 40px;
  letter-spacing: 3px;          /* Відстань між літерами*/
}

.welcome-mini{
  display: flex;
  justify-content: center;
  color:var(--nav-color);
  font-style: italic;
  font-weight: 300;
}

/*меню проєктів>*/
.main-project{
  background-color: var(--project-grid-color);
  
}


.grid{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top:100px;
  margin-bottom: 80px;
  margin-left:510px;
  font-size: 40px;
}

.project-tile{
  color:aliceblue;
  border-bottom:3px solid white;
  padding-bottom:8px ;
}
 
.grid-container {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 0.25fr);    /*три стовпчики */
  grid-template-rows: auto;
  gap:40px;
  z-index: -1;
}
a{
  list-style-type: none;
  text-decoration: none;
}

p{
  color:white;
  font-weight: 700;
  font-size: 19px;
}

.grid-block p{
  box-shadow:2px 2px 3px #1f242a;
  border-radius: 0px 0px 3px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: var(--welcome-project-color);
  
}

.image-container {
  box-shadow:2px 1px 3px #1f242a;
  border-radius: 3px 3px 0px 0px;
  width: 100%;  /* повна ширина комірки гріда */
  height: 390px;  /* висота, яку ви хочете встановити */
  overflow: hidden;  /* обрізати зайве зображення за межами контейнера */
  position: relative;  /* відносне позиціонування для вкладеного зображення */
}

.image-container img {
  width: 100%;  /* повна ширина контейнера */
  height: 100%;  /* повна висота контейнера */
  object-fit: cover;  /* підігнати зображення, обрізаючи зайве */
  object-position: center;  /* відцентрувати зображення */
}

.hidden-text{
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0;
  color:var(--code-color);
  font-style: italic;
  font-size: 23px;
  transition: opacity  0.5s ease-in-out;   /* швидкість проявлення тексту*/
}
.grid-block:hover .hidden-text{
  opacity: 1;
}

/*кнопка Show all*/

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.btn-show-all {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: aliceblue;
  border-radius: 3px;
  font-size: 2rem;
  background: var(--welcome-project-color);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--nav-color);     /*зміна кольору при наведенні курсором*/
}

.btn-show-all:hover > i {
  transform: translateX(2px);     /*при наведенні зміщує іконку*/
}

.btn-show-all > i {
  margin-left: 10px;      /*зовнішній відступ для іконки*/
  transform: translateX(0);       /*зміщення іконки*/
  transition: transform 0.3s ease-out;        /*плавний перехід при наведенні*/
}


/*фінальна частина з посиланнями*/

footer{
  position: relative;     /*відносне позиціювання */
  width: 100%;
  height: 800px;
  height: 100vh;  
}

.end-mini{
 position:absolute; 
 top:250px;
 left:600px;
font-style: italic;
font-weight: 200;
color:aliceblue;
}

.end-title{
  position: absolute;
  top: 200px;
  left: 500px;
}